@{
    ViewBag.Title = "InternetAndComputerFacilites";
}


        <div class="page-content">
            <div class="row page-row">
                <div class="news-wrapper col-md-8 col-sm-7">
                    <article class="news-item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum pellentesque urna. Phasellus adipiscing et massa et aliquam. Ut odio magna, interdum quis dolor non, tristique vestibulum nisi. Nam accumsan convallis venenatis. Nullam posuere risus odio, in interdum felis venenatis sagittis. Integer malesuada porta fermentum. Sed luctus nibh sed mi auctor imperdiet. Cras et sapien rhoncus, pulvinar dolor sed, tincidunt massa. Nullam fringilla mauris non risus ultricies viverra. Donec a turpis non lorem pulvinar posuere.</p>
                        <p>Nulla facilisi. Aenean interdum iaculis odio, et suscipit lorem euismod et. Sed nec orci suscipit, accumsan mauris nec, vestibulum felis. Nam eu felis sem. Fusce ut odio ipsum. Duis orci ipsum, feugiat ac dignissim in, convallis quis tortor. Mauris semper tortor nec justo adipiscing volutpat. Donec suscipit rhoncus est, vitae pretium purus laoreet et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed iaculis risus felis, sit amet porta urna volutpat vel. Integer vestibulum, neque a condimentum fermentum, est nunc tincidunt nunc, eget sagittis turpis elit nec arcu. Curabitur tempus mauris vitae dignissim vehicula. Fusce vehicula malesuada aliquam.</p>
                        <ul class="custom-list-style">
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet.</li>
                            <li><i class="fa fa-check"></i>Aliquam tincidunt mauris eu risus.</li>
                            <li><i class="fa fa-check"></i>Ultricies eget vel aliquam libero.</li>
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet.</li>
                            <li><i class="fa fa-check"></i>Aliquam tincidunt mauris eu risus.</li>
                            <li><i class="fa fa-check"></i>Ultricies eget vel aliquam libero.</li>
                        </ul>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" title="Lorem ipsum dolor sit amet" href="~/Content/FrontEnd/images/gallery/gallery-1.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-1.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-24.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-24.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-23.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-23.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-22.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-22.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-21.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-21.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-20.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-20.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-19.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-19.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-18.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-18.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-17.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-17.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-16.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-16.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-15.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-15.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-14.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-14.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-17.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-13.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-16.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-12.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-15.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-11.jpg" alt="" /></a>
                        <a class="prettyphoto col-md-3 col-sm-3 col-xs-6" rel="prettyPhoto[gallery]" href="~/Content/FrontEnd/images/gallery/gallery-14.jpg"><img class="img-responsive img-thumbnail" src="~/Content/FrontEnd/images/gallery/gallery-thumb-10.jpg" alt="" /></a>
                    </article><!--//news-item-->
                </div><!--//news-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
                    <section class="widget row-divider">
                        <h3 class="title">Student Testimonials</h3>
                        <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <blockquote class="quote">
                                        <i class="fa fa-quote-left"></i>
                                        I’m very happy interdum eget ipsum. Nunc pulvinar ut nulla eget sollicitudin. In hac habitasse platea dictumst. Integer mattis varius ipsum, posuere posuere est porta vel. Integer metus ligula, blandit ut fermentum a, rhoncus in ligula. Duis luctus.
                                    </blockquote>
                                    <div class="row">
                                        <p class="people col-md-8 col-md-push-1"><span class="name">Marissa Spencer</span><br><span class="title">Curabitur commodo</span></p>
                                        <img class="profile col-md-4" src="~/Content/FrontEnd/images/testimonials/profile-1.png" alt="">
                                    </div>
                                </div><!--//item-->
                                <div class="item">
                                    <blockquote class="quote">
                                        <i class="fa fa-quote-left"></i>
                                        I'm very pleased commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                    </blockquote>
                                    <div class="row">
                                        <p class="people col-md-8 col-md-push-1"><span class="name">Marco Antonio</span><br><span class="title"> Gravida ultrices</span></p>
                                        <img class="profile col-md-4" src="~/Content/FrontEnd/images/testimonials/profile-2.png" alt="">
                                    </div>
                                </div><!--//item-->
                                <div class="item active">
                                    <blockquote class="quote">
                                        <i class="fa fa-quote-left"></i>
                                        I'm delighted commodo gravida ultrices. Sed massa leo, aliquet non velit eu, volutpat vulputate odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse porttitor metus eros, ut fringilla nulla auctor a.
                                    </blockquote>
                                    <div class="row">
                                        <p class="people col-md-8 col-md-push-1"><span class="name">Kate White</span><br><span class="title"> Gravida ultrices</span></p>
                                        <img class="profile col-md-4" src="~/Content/FrontEnd/images/testimonials/profile-3.png" alt="">
                                    </div>
                                </div><!--//item-->

                            </div><!--//carousel-inner-->
                            <div class="carousel-controls">
                                <a class="prev" href="#testimonials-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                                <a class="next" href="#testimonials-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                            </div><!--//carousel-controls-->
                        </div><!--//testimonials-carousel-->
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
