@{
    ViewBag.Title = "Library";
}


<div class="page-content">
    <div class="row page-row">
        <div class="gallery-wrapper col-md-8 col-sm-7">
            <div class="page-row">
                <p>
                    We aim to serve the University in its educational and research initiatives by providing intellectual platform to support scholastic innovations, proactively delivering learner-centered services by deploying cutting edge technologies and developing learning materials in various formats.
                </p>
            </div>
            <div class="row page-row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href="#"><img class="img-responsive" src="~/Content/FrontEnd/images/library/library1.jpg" alt="" /></a>
                        <div class="desc">
                            <h4><small><a href="#">Study Time</a></small></h4>
                            <p>
                                The Lahore Garrison University (LGU) supports its academic programs and research initiatives through a state-of-the-art Library and Learning Resource Center.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="album-cover">
                        <a href="#"><img class="img-responsive" src="~/Content/FrontEnd/images/library/library2.png" alt="" /></a>
                        <div class="desc">
                            <h4><small><a href="#">Books Collection</a></small></h4>
                            <p>
                                The LGU Library actively supports learning and is committed to the dissemination of knowledge and improvement in the intellectual content of its users.
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--//page-row-->
        </div><!--//gallery-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
            <!--//widget-->
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Testimonial.cshtml")
        </aside>
    </div>
</div><!--//page-content-->
