@{
    ViewBag.Title = "Library";
}


        <div class="page-content">
            <div class="row page-row">
                <div class="gallery-wrapper col-md-8 col-sm-7">
                    <div class="page-row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, nisl eget venenatis ultricies, eros augue semper turpis, vitae euismod leo urna vitae nulla. Mauris sem urna, aliquet quis sodales et, convallis vel ante. Sed convallis id sem sed feugiat. Aenean eget tempus tortor.</p>
                        <p class="page-row text-muted">Image credit: <a href="http://www.flickr.com/photos/francisco_osorio/" target="_blank">Francisco Osorio</a>, <a href="http://creativecommons.org/licenses/by/2.0/deed.en" target="_blank">Creative Commons 2.0 license</a></p>
                    </div>
                    <div class="row page-row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-1.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Lorem Ipsum</a></small></h4>
                                    <p>Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-2.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Ornare</a></small></h4>
                                    <p>Aenean dictum urna nec ligula consectetur, id ornare leo tincidunt. Praesent ut tempor nibh. Sed eleifend, elit at ornare pretium, lorem mauris convallis arcu</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-3.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-4.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-5.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="gallery-album.html"><img class="img-responsive" src="~/Content/FrontEnd/images/gallery/gallery-thumb-6.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">Album Suspendisse</a></small></h4>
                                    <p>Suspendisse at purus ac neque auctor viverra vel in arcu. Quisque commodo augue nisi, ut ultrices odio suscipit et. Quisque interdum massa sem</p>
                                </div>
                            </div>
                        </div>

                    </div><!--//page-row-->
                </div><!--//gallery-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
                    <!--//widget-->
                    @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Testimonial.cshtml")
                </aside>
            </div>
        </div><!--//page-content-->
