@{
    ViewBag.Title = "SocietiesAndClubs";
}

<!-- ******CONTENT****** -->

<div class="page-content">
    <div class="row page-row">
        <div class="news-wrapper col-md-8 col-sm-7">
            <article class="news-item page-row has-divider clearfix row">
                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                    <img class="img-responsive" src="~/Content/FrontEnd/images/library/bds.jpg" alt="" />
                </figure>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title">Blood Donor Society</h3>
                    <p>
                        Our aim  is not only  to  improve  our  present facilities but want to start an orthopedic workshop consisting  of  walking  aids  and  orthotics  for  the  disabled.  Moreover, well equipped operation Future Plans.
                    </p>
                </div>
            </article><!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">
                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                    <img class="img-responsive" src="~/Content/FrontEnd/images/library/it.jpg" alt="" />
                </figure>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">IT Society</a></h3>
                    <p>
                        The IT Society @ AAWC was founded a few years ago under the leadership of CIS.
                    </p>
                </div>
            </article><!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">
                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                    <img class="img-responsive" src="~/Content/FrontEnd/images/library/sports.jpg" alt="" />
                </figure>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Sports Society</a></h3>
                    <p>
                        If we could only keep playing one sport in our society, which one would you keep?
                    </p>
                </div>
            </article><!--//news-item-->
            <article class="news-item page-row has-divider clearfix row">
                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                    <img class="img-responsive" src="~/Content/FrontEnd/images/library/art.jpg" alt="" />
                </figure>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Art Society</a></h3>
                    <p>
                        We see knowledge as a matter of conversation and of social practice, rather than as an attempt to mirror nature.
                    </p>
                </div>
            </article>
        </div><!--//news-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
            <!--//widget-->
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Testimonial.cshtml")
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->
