
@{
    ViewBag.Title = "Faculties - Department Of Physics";
}


<div class="page-content">
        <div class="row page-row">
            <div class="jobs-wrapper col-md-8 col-sm-7">
                <h3 class="title">Department of Physics</h3>

                <p>
                    The Department of Physics consists of qualified faculty, state of the art facilities,  air conditioned laboratory and modern equipment. It has ideal and congenial work environment.  It is running B.Sc 2 years  program (PU) courses in 4years BS computer science programs (UET & LGU), and plans to run BS physics 4 years  programs which will provide an opportunity to the students to enhance their skill and knowledge in the field of physics. It will produce scientists and physicists who can contribute towards the progress and prosperity of Pakistan.
                </p>
                <h3 class="title">Programs Offered</h3>
                <ul>
                    <li>BS Physics</li>
                    <li>M.Sc Physics</li>
                    <li>MS Physics</li>
                </ul>
                <h3 class="title">Faculty Members</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Academic qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mr. Arshad Subhani (Chairperson)</td>
                                <td>M.Sc</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Yousaf</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                            <tr>
                                <td>Mr. Sahad Karim</td>
                                <td>M. Phil, Ph. D Scholar</td>
                            </tr>
                            <tr>
                                <td>Ms. Sana Habib</td>
                                <td>M.Sc, M.Phil(In progress)</td>
                            </tr>
                            <tr>
                                <td>Mrs. Farzana Siddique</td>
                                <td>M.Sc</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Rizwan Sami</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                            <tr>
                                <td>Mr. Abdul Rauf</td>
                                <td>M.Sc</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Nafees Shafi	</td>
                                <td>M.Sc, M.Sc (Computer Science)</td>
                            </tr>
                            <tr>
                                <td>Mr. Badur Ud Din Chugtai</td>
                                <td>M.Sc</td>
                            </tr>
                            <tr>
                                <td>Mrs. Nyla Imran</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mrs. Salma Bukhari</td>
                                <td>M.Sc, B.Ed, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Mrs. Saima Anjum Khan</td>
                                <td>M.Sc, B.Ed, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Mrs. Fatima Aslam</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mr. Zeeshan Mustafa	</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--//jobs-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Why Lahore Garrison University</h3>
                    <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                    <a class="btn btn-theme" href="#">Find out more</a>
                </section><!--//widget-->
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->
