
@{
    ViewBag.Title = "DeptOfEconomics";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Economics</h3>

            <p>
                The department of Economics at LGU has been offering undergraduate, graduate , Master Degree and M.Phil level programs. The department is continuously striving toward excellence, bringing it up to par with contemporary needs. The study of Economics provides opening to the students in banking & financial services, Public sector, NGOs international organizations, academia and entrepreneurial ventures, etc. The Economics department at LGU, among its studies, include awareness of local and international economic condition, equips the student research oriented skills, and trains them in analysis of market competition and economics planning.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BS (Hons.) Economics</li>
                <li>M.Sc Economics</li>
                <li>M.Phil Economics</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ms. Arshi Shahid (Chairperson)</td>
                            <td>M.A, M.Phil, Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Mrs. Hafsa Mustafa</td>
                            <td>M.A, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Mr. Muhammad Tahir</td>
                            <td>B.Sc (Hons.), Agricultural Economics, PGD (CP & CS), M.Sc Computer Science, M.Phil (Eco), Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Mrs. Amna Kausar</td>
                            <td>MA, M.Ed, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mr. Abid Bashir</td>
                            <td>M.A</td>
                        </tr>
                        <tr>
                            <td>Ms. Nadia Raza</td>
                            <td>M.A, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mr. Shafqat Mehmood Khan</td>
                            <td>M.A, M.Phil, Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Ms. Syeda Humera Sherazi</td>
                            <td>M.A, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mr. Ahmed Azeem Khan</td>
                            <td>M.A</td>
                        </tr>
                        <tr>
                            <td>Ms. Asma Awan</td>
                            <td>M.A, M.Phil, Ph.D Scholar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->
