
@{
    ViewBag.Title = "Department Of Biology";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Biology</h3>

            <p>
                Department of Biology at Lahore Garrison University is the union of Microbiology, Botany and Zoology. With a mission to strive for scientific excellence, the Department offers various programs with detailed overview into each area of Microbiology, Zoology and Botany. Department is provided with extensive research facilities to help students in pursuing their research work. Exposure of students to modern advancements  is increased by poster presentations and attending conferences and seminar series.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BS (Hons) Microbiology</li>
                <li>BS (Hons) Zoology</li>
                <li>BS (Hons) Botany</li>
                <li>M.Sc. Microbiology</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Academic qualification</th>
                            <th>Area of Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dr. Abdul Majeed</td>
                            <td>Dean of Sciences</td>
                            <td>M.Sc(Botany)Ph.D(Botany) U.K</td>
                            <td>Plant Ecology, Salt Stress in plants</td>
                        </tr>
                        <tr>
                            <td>Shazia Bokhari</td>
                            <td>Chairperson</td>
                            <td>M.Sc (Zoology), M.Phil (Zoology), Ph.D Scholar</td>
                            <td>Physiology and Endocrinology</td>
                        </tr>
                        <tr>
                            <td>Sumaira Mazhar</td>
                            <td>Lecturer</td>
                            <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            <td>Microbiology and Molecular Genetics, Environmental Microbiology, Agricultural Microbiology</td>
                        </tr>
                        <tr>
                            <td>Anum Kamal</td>
                            <td>Lecturer</td>
                            <td>BS (Biochemistry), M.Phil</td>
                            <td>Biochemistry and Biotechnology, Cancer Genetics</td>
                        </tr>
                        <tr>
                            <td>Uzma Zeeshan</td>
                            <td>Lecturer</td>
                            <td>M.Sc (Zoology, Gold Medalist),M.Phil (Zoology), Ph.D Scholar</td>
                            <td>Physiology and Endocrinology</td>
                        </tr>
                        <tr>
                            <td>Aniqa Naeem</td>
                            <td>Lecturer</td>
                            <td>M.Sc, M. Phil (Microbiology and Molecular Genetics)</td>
                            <td>Bioremediation</td>
                        </tr>
                        <tr>
                            <td>Rasheda Jabeen</td>
                            <td>Lecturer</td>
                            <td>M.Phil (Biotechnology), Ph.D Scholar Agricultural Sciences (Molecular Biology)</td>
                            <td>Molecular Biology and Genetics</td>
                        </tr>
                        <tr>
                            <td>Huma Shafique</td>
                            <td>Lecturer</td>
                            <td>M.Sc (Microbiology and Molecular Genetics), M.Phil Scholar (University of Health Sciences)</td>
                            <td>Bioinformatics, Human Genetics</td>
                        </tr>
                        <tr>
                            <td>Aisha Waheed Qurashi</td>
                            <td>Lecturer	</td>
                            <td>M.Phil, Ph.D (Thesis submitted, Microbiology and Molecular Genetics)</td>
                            <td>Biofilm and stress physiology of bacteria and plant Microbiology and Molecular Genetics, Microbial diversity, Environmental Microbiology and microbial ecology, Microbial genetics, Microbial biotechnology</td>
                        </tr>
                        <tr>
                            <td>Hammad Arshad</td>
                            <td>Lecturer</td>
                            <td>BS (Biochemistry), MS(Biotechnology)</td>
                            <td>Biochemistry and Biotechnology</td>
                        </tr>
                        <tr>
                            <td>Warris Mahmood</td>
                            <td>Lecturer	</td>
                            <td>B.Sc, DVM, MS(Genetics and Bioengineering)</td>
                            <td>Virology and Parasitology</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

