
@{
    ViewBag.Title = "DepttOfHistoryAndPoliticalScs";
}

<div class="page-content">
    <div class="row page-row">
        <div class="page-content">
            <div class="row page-row">
                <div class="jobs-wrapper col-md-8 col-sm-7">
                    <h3 class="title">Department of History and Political Science</h3>

                    <p>
                        The department of History / Political Science aims at giving the students / research scholars an understanding of the History  - Political events processes and issues strategic to the international community. It facilitates to appreciate the dynamics of development in the sphere of history, Politics, Economy, Culture & even the pragmatic development of the war and peace. The study of history deals with the past, present and future of mankind. It goes to the roots of nature and human civilization. It deals with the ancient, medieval ages that brings out the data that how human beings had been, how they are and enable to predict even future. History digs out the problems the humanity faced in the past and also the causes/events of the rise and fall of the dynasties, the government and the states, History is useful for those who wish to prepare for the CSS/PMS examinations because the course taught in M.A History are directly related to the compulsory and optional subjects of the competitive examinations. This discipline opens the job opportunities of teaching and research for potential candidates.
                    </p>
                    <h3 class="title">Programs Offered</h3>
                    <ul>
                        <li>M.A History</li>
                        <li>M.A Political Sciences</li>
                    </ul>
                    <h3 class="title">Faculty Members</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Academic qualification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Maj(R) Nazir Hussain (chairman)</td>
                                    <td>M.Phil IR, M.Phil Education, Ph.D Scholar</td>
                                </tr>
                                <tr>
                                    <td>Mrs. Shahwar Hussain</td>
                                    <td>M.A History, M.Phil</td>
                                </tr>
                                <tr>
                                    <td>Ms. Nazima Bibi</td>
                                    <td>M.A, M.Phil Education, Ph.D Scholar</td>
                                </tr>
                                <tr>
                                    <td>Mr. Bilal</td>
                                    <td>M.Phil, Ph.D Area Study</td>
                                </tr>
                                <tr>
                                    <td>Mrs. Nusrat</td>
                                    <td>M.Phil (in prgress)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--//jobs-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider">
                        <h3 class="title">Why Lahore Garrison University</h3>
                        <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                        <a class="btn btn-theme" href="#">Find out more</a>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

