
@{
    ViewBag.Title = "Faculties - Department Of Statistics";
}


<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Statistics</h3>

            <p>
                Faculty of Statistics has been offering a rich set of high quality education programs to develop future leaders who think globally, act responsibly and manage organizations in this modern era. Statistics has a viral role in our daily life as it collect data from every walk of life for maintaining the best available facilities for the peoples.Department of Statistics has been offering high quality education programs to develop future leaders within an environment committed to excellence in both teaching and research.The objective of these programs is to provide fundamental grounding in both statistical theory and methodology and to produce specialists in a specific area of Statistics.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BS Statistics (4 Years)</li>
                <li>M.Sc Statistics (PU Affiliated)</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ms. Nazia Kanwal (Chairperson)</td>
                            <td>M.Sc, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Ms. Shumaila Nasir</td>
                            <td>M.Sc, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mr. Nasir Yaqoob</td>
                            <td>M.Sc,&nbsp;B.Ed, M.Ed (in progress)</td>
                        </tr>
                        <tr>
                            <td>Ms.&nbsp;Gulshan Ara Majeed</td>
                            <td>M.Sc, M.Phil, Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Ms. Wasia Safdar</td>
                            <td>M.Sc, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Ms. Fehmida Naz</td>
                            <td>M.Sc, B.Ed, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Ms. Naureen Riaz</td>
                            <td>M.Sc, M.Phil, Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Ms. Qurat-ul-Ain</td>
                            <td>M.Sc, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Ms. Uzma Hameed</td>
                            <td>M.Sc, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Ms. Irum Sarwar</td>
                            <td>M.Sc, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

