
@{
    ViewBag.Title = "Faculties - Department of Urdu";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Urdu</h3>
            <p>
                Urdu is the National language. It is the language of business and of every day discourse of the people of Pakistan. It is spoken and understood throughout the country. It is major language of the newspapers, TV shows and other means of communications. Most of the literary creations and academic achievements of the Muslims of subcontinent are in Urdu. At LGU we have highly qualified and progressive department of Urdu Language & Literature, which offers courses at graduate and post graduate levels. It also provides the major talent for the different organs of the university like University Magazine, debating society, mushairas and other co-curricular and extra curricular activities.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>M.A</li>
                <li>M.Phil</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dr. Gulshan Tariq (Dean of Humanities)</td>
                            <td>M.A (Urdu), M.A History, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Dr. M.K Ashraf S.J (Chairman)</td>
                            <td>M.A, Ph.D, PSC, PFSC (UK)</td>
                        </tr>
                        <tr>
                            <td>Mr. Muhammad Azam</td>
                            <td>M.A</td>
                        </tr>
                        <tr>
                            <td>Mr. M Rashid Tufail</td>
                            <td>M.A, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mr. M Zafar Iqbal</td>
                            <td>M.A, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Mr. M Saifullah Khan</td>
                            <td>M.A, M.Ed, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mrs. Nasreen Sardar</td>
                            <td>M.A, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mrs. Shakeela Yasmin Alvi</td>
                            <td>M.A, M.Phil (in progress)</td>
                        </tr>
                        <tr>
                            <td>Mrs. Sabeen Raza</td>
                            <td>M.A</td>
                        </tr>
                        <tr>
                            <td>Ms. Munazza Munawar</td>
                            <td>M.A, M.Phil</td>
                        </tr>
                        <tr>
                            <td>Ms.&nbsp;Khizra Tabassum</td>
                            <td>M.A, M.Phil</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->