
@{
    ViewBag.Title = "Department of Education";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Education</h3>
            <p>
                Teachers are perhaps the most critical component of education system. Ho well they teach depends on motivation,
                qualification, experience and training. Training is the process of acquiring specific skills to perform a job better.
                Training helps people to become qualified and proficient in doing some jobs. Usually an organization facilitates the
                employees learning through training so that their modified behavior contributes to the attainment of the organization’s
                goal and objectives. To provide opportunities for professional educators to improve their knowledge and ability to achieve
                excellence in the field of teacher education through empowering teachers and developing their competencies in areas of content
                and pedagogical skills in the field of Education identify and critically reflect upon key concepts in education. Understand
                the nature and significance of educational issues, and the ways in which research in education might illuminate them.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>M.A Education</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maj. Nazir Hussain Shah</td>
                            <td>M.Phil Education, Ph.D Scholar</td>
                        </tr>
                        <tr>
                            <td>Ms. Nazma Bibi</td>
                            <td>M.Phil Education</td>
                        </tr>
                        <tr>
                            <td>Ms. Hafiza Saadia</td>
                            <td>M.Phil Education, Ph.D Scholar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->


