
@{
    ViewBag.Title = "Department Of Computer Science";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Computer Science</h3>

            <p>
                Computer Science department is the largest department at LGU, comprising more than one fifth of the student population. The department offers a range of degree programs in computer science (BSCS, BSIS, MCS, MSCS). The department is planning for strong growth in the coming years. The department has highly qualified Faculty with academic as well as industry experience.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BSCS Computer Science</li>
                <li>BS Information Systems</li>
                <li>MCS (2 Years) Morning/Evening</li>
                <li>MS (2 Years) Evening</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Academic qualification</th>
                            <th>Area of Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mrs. Shazia Saqib</td>
                            <td>Chairperson</td>
                            <td>MBE MS, Ph.D Scholar</td>
                            <td>Programming, Formal Methods</td>
                        </tr>
                        <tr>
                            <td>Dr. Tahir Khan</td>
                            <td>Asst. Professor</td>
                            <td>MS (Information Engineering), Ph.D (Computer Science)</td>
                            <td>Information Engineering</td>
                        </tr>
                        <tr>
                            <td>Dr. Muhammad Adil</td>
                            <td>Asst. Professor</td>
                            <td>MS (Computer Science), Ph.D</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mr. Amjad Ali</td>
                            <td>Asst. Professor</td>
                            <td>M.Sc (Phy), M.Sc (Comp. Sc.), MS, Ph.D Scholar</td>
                            <td>Algorithms, Automata</td>
                        </tr>
                        <tr>
                            <td>Mrs. Kiran Adnan</td>
                            <td>Lecturer</td>
                            <td>MSCS (SE), Ph.D Scholar</td>
                            <td>Software Engineering, Artificial Intelligence</td>
                        </tr>
                        <tr>
                            <td>Mrs. Kausar Parveen</td>
                            <td>Lecturer</td>
                            <td>MSCS</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Mrs. Sundus Munir	</td>
                            <td>Lecturer</td>
                            <td>MSCS</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Ms. Sadia Kausar	</td>
                            <td>Lecturer	</td>
                            <td>MSCS	</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Ms. Syeda Beenish Zahra</td>
                            <td>Lecturer</td>
                            <td>MSCS	</td>
                            <td>Computer Graphics, Compiler Constructions, Algorithms, Automata</td>
                        </tr>
                        <tr>
                            <td>Ms. Ayesha Javed	</td>
                            <td>Lecturer	</td>
                            <td>MSCS	</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Mr. Waseem Ahmad	</td>
                            <td>Lecturer	</td>
                            <td>MSCS</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Mr. Ahmad Bilal</td>
                            <td>Lecturer	</td>
                            <td>MSCS	</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Mr. Taseer Suleman</td>
                            <td>Lecturer	</td>
                            <td>MSCS	</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Mr. Zaheer Ahmad</td>
                            <td>Lecturer	</td>
                            <td>MS (Informatics Engineering) (Sweden)</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Ms. Qurat-ul-Ain</td>
                            <td>Lecturer	</td>
                            <td>M.Sc (IT), MS(in progress)</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Ms. Shabana Sohail</td>
                            <td>Lecturer	</td>
                            <td>M.Sc (Comp Sc)</td>
                            <td>Software Engineering</td>
                        </tr>
                        <tr>
                            <td>Ms. Sadaf Hussain</td>
                            <td>Lecturer	</td>
                            <td>M.Sc (Comp Sc), MS (in progress)</td>
                            <td>Quantum Computing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->