
@{
    ViewBag.Title = "Faculties - Department Of Commerce";
}

    <div class="page-content">
        <div class="row page-row">
            <div class="jobs-wrapper col-md-8 col-sm-7">
                <h3 class="title">Department of Commerce</h3>

                <p>
                    The Department of Commerce offers B.Com (IT), BS Commerce and M.Com (IT) Programmes, The goal of these programmes are to prepare the students in the versatile areas of Business and Commerce. The Programmes accomplish this task by offering a board range of course work, emphasizing and developing critical skills in the students and providing students with real work experience. Technology, ethics, e-business, management techniques, critical thinking, problem solving, research methods and statistical analysis are the main components of the curriculum.
                </p>
                <h3 class="title">Programs Offered</h3>
                <ul>
                    <li>B.Com IT (PU Affiliated)</li>
                    <li>M.Com</li>
                    <li>BS Accounting and Finance</li>
                    <li>B.Com (Hons.)</li>
                </ul>
                <h3 class="title">Faculty Members</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Academic qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mrs. Samreen Waqar (Chairperson)</td>
                                <td>MBE (accounting & Finance), MA (Eco) M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Zara Rafique</td>
                                <td>M.Com, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Rashid</td>
                                <td>M.Com, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Sobia Irum</td>
                                <td>MBE, ACMA (in progress)</td>
                            </tr>
                            <tr>
                                <td>Mr. Fayyaz Ali Shad</td>
                                <td>M.Com, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mr. Ali Qasim</td>
                                <td>M.Com, M.S, Ph.D (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Ana Bano</td>
                                <td>M.Com</td>
                            </tr>
                            <tr>
                                <td>Mr. Yousaf</td>
                                <td>M.Phil Q.Finance (China), ACCA</td>
                            </tr>
                            <tr>
                                <td>Ms. Ambreen</td>
                                <td>ACCA</td>
                            </tr>
                            <tr>
                                <td>Ms. Madiha</td>
                                <td>ACCA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--//jobs-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Why College Green</h3>
                    <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                    <a class="btn btn-theme" href="jobs.html">Find out more</a>
                </section><!--//widget-->
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->