
@{
    ViewBag.Title = "Department of Geography";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Geography</h3>

            <p>
                The subject of Geography embraces an enormous range of topics, including the evolution of our solar system, the origin of earth, its structure and life cycle on earth, the nature of earth interior, the causes of earth-quakes and volcanic eruption, human activities on earth how it happens. The objective of the program is to offer a degree courses to students interested in developing expertise it the discipline of Geography. The program also draws on studies of Geography of population, Social, Culture, Agriculture, Rural & Urban Planning transportation and Ecology. The special course will be on physical Geography.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BA/B.Sc (PU Affiliated)</li>
                <li>BS (Hons.) Geography (4 Years Program)</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mr. Sheikh Naseer Anwar (Chairperson)</td>
                            <td>M.Sc, M.Phil (Geography)</td>
                        </tr>
                        <tr>
                            <td>Ms. Jawairia Mukhtaar</td>
                            <td>M.Sc (Geography)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

