
@{
    ViewBag.Title = "Department of Business Administrations";
}


<div class="page-content">
        <div class="row page-row">
            <div class="jobs-wrapper col-md-8 col-sm-7">
                <h3 class="title">Department of Business Administrations</h3>

                <p>
                    Business Administrations courses provide the aspiring students to know about the competitive business environment in which both the private and public sector operate. The course mainly focuses to provide the students about the analytical and  operational talents required to solve a business problem in any sector. It also offers flexibility for the students to specialize in particular areas. Once they pursue this course, the study in these areas offers them a wide range of career opportunities. Through these courses they will get a foundation in the business operations in all aspects.
                </p>
                <h3 class="title">Programs Offered</h3>
                <ul>
                    <li>BBA (Hons.) (4 Years)</li>
                    <li>MBA (3.5 Years)</li>
                    <li>MBA (2.5 Years) (Evening Programme)</li>
                    <li>MBA (1.5 Years) (Weekend Programme)</li>
                    <li>MS (BA) (1.5 Years)</li>
                </ul>
                <h3 class="title">Faculty Members</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Academic qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mrs. Aiza Hussain Rana (Chairperson)</td>
                                <td>Ph.D Scholar (Management), MS(MS), BS(BA)-Finance</td>
                            </tr>
                            <tr>
                                <td>Mr. Ammar Arshad</td>
                                <td>MS (Management)-France & Sweden, BBA, DBA</td>
                            </tr>
                            <tr>
                                <td>Ms. Asia  Bibi</td>
                                <td>Ph.D Scholar (Management), MBA( Finance), B.Sc</td>
                            </tr>
                            <tr>
                                <td>Mrs. Kashmala Latif</td>
                                <td>MS (Management)-China, MBA, BBA</td>
                            </tr>
                            <tr>
                                <td>Mr. Roheel Khan</td>
                                <td>MS (Banking & Financial Economics), MBA (Finance), B. Com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--//jobs-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Why Lahore Garrison University</h3>
                    <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                    <a class="btn btn-theme" href="#">Find out more</a>
                </section><!--//widget-->
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->

