
@{
    ViewBag.Title = "Department Of Islamic Studies";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Islamic Studies</h3>

            <p>
                The Department of Islamic Studies is the center of Islamic ideology and Religious theology in order to  provide a central point to the scholars of Islamic Studies who esteem high to the teachings. value and culture of Islam, who can utilize their knowledge and wisdom to resolve the contemporary issues & introduce Islam as a religion of peace, tolerance & mutual harmony. Since the inception of Lahore Garrison University, Department of Islamic Studies Has been catering honorary courses of Islamic Studies of multifarious departments. The department has been decided to commence a 2 year program of M.Phil, Islamic Studies from this year.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>M.Phil, Islamic Studies</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Academic qualification</th>
                            <th>Area of Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dr. Saeed Ahmed Saeedi (Chairperson)</td>
                            <td>Ph.D (Gold Medalist)</td>
                            <td>Hadith & Uloom-ul-Hadith, Seerat-e-Tayyibah & Fiqh & Uloom-ul-Fiqh</td>
                        </tr>
                        <tr>
                            <td> M. Hussain Khawar</td>
                            <td>M.Phil</td>
                            <td>Uloom-ul-Haidth</td>
                        </tr>
                        <tr>
                            <td>Ms. Kalsoom Shabbir</td>
                            <td>M.Phil</td>
                            <td>Uloom-ul-Fiqh</td>
                        </tr>
                        <tr>
                            <td>Ms. Saadia Tahseen</td>
                            <td>M.Phil</td>
                            <td>Uloom-ul-Quran, Uloom-ul-Hadith</td>
                        </tr>
                        <tr>
                            <td>Mr. Atta ur Rehman</td>
                            <td>P.hD Scholar</td>
                            <td>Islam and Science, Oriental-ism</td>
                        </tr>
                        <tr>
                            <td>Ms. Samina Razzaq</td>
                            <td>Ph.D Scholar</td>
                            <td>Arabic Language and Literature</td>
                        </tr>
                        <tr>
                            <td>Mr. Muhammad Hanif</td>
                            <td>M.A (Arabic & Islamic Studies)</td>
                            <td>Arabic Language</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

