
@{
    ViewBag.Title = "Department Of Mathematics";
}


<div class="page-content">
        <div class="row page-row">
            <div class="jobs-wrapper col-md-8 col-sm-7">
                <h3 class="title">Department of Mathematics</h3>

                <p>
                    The Department of Mathematics offers a dynamic and supportive environment for both staff and students. It is highly rated for teaching and also for its student support. It has core intellectual position in LGU as it offers and extensive range of undergraduate courses according to international standards. Students are facilitated to specialize while taking courses in Mathematics or in other subjects involving a strong mathematical background, with emphasis on concept developing. In this way students realize the role of Mathematics in daily life.
                </p>
                <h3 class="title">Programs Offered</h3>
                <ul>
                    <li>BS Mathematics (4 years Program)</li>
                    <li>M.Sc Mathematics (2 years Program)</li>
                    <li>M.Phil Mathematics (2 years Program)</li>
                </ul>
                <h3 class="title">Faculty Members</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Academic qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Dr. Nazir Ahmad Shahid (Chairman)</td>
                                <td>M.Sc, Ph.D</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Tahir Hameed Ch</td>
                                <td>M.Sc, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Mr. Muhammad Latif	</td>
                                <td>M.Sc Math</td>
                            </tr>
                            <tr>
                                <td>Ms. Asma Riffat</td>
                                <td>M.Sc, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Lubna Shaheen</td>
                                <td>M.Sc, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Sumaira Ajmal</td>
                                <td>M.Sc, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Bushra Zaheer</td>
                                <td>M.Sc, M.Phil (in progress)</td>
                            </tr>
                            <tr>
                                <td>Ms. Zahida Parveen</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                            <tr>
                                <td>Ms. Nosheen Ilyas</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Ms. Ayesha Saeed</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Ms. Zahra Zafar</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mrs. Saima Anjum Khan</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Ms. Sana Akram</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mr. Aktar Ali</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                            <tr>
                                <td>Mrs. Farhat Sultana Awan</td>
                                <td>M.Sc, M.Phil(in progress)</td>
                            </tr>
                            <tr>
                                <td>Mrs. Sadaf Saleem</td>
                                <td>M.Sc, M.Phil, Ph.D Scholar</td>
                            </tr>
                            <tr>
                                <td>Mr. M Farhan Tubassum</td>
                                <td>M.Sc, M.Phil</td>
                            </tr>
                            <tr>
                                <td>Mr. Jamshaid-ur-Rehman</td>
                                <td>M.Phil</td>
                            </tr>
                            <tr>
                                <td>Ms. Maryam Fatima</td>
                                <td>BS (Mathematics), MS (in progress)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--//jobs-wrapper-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Why Lahore Garrison University</h3>
                    <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                    <a class="btn btn-theme" href="#">Find out more</a>
                </section><!--//widget-->
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->
