
@{
    ViewBag.Title = "Department Of Applied Psychology";
}

<div class="page-content">
    <div class="row page-row">
        <div class="jobs-wrapper col-md-8 col-sm-7">
            <h3 class="title">Department of Applied Psychology</h3>

            <p>
                Psychology, The study of mind and behavior, is one of today’s most exciting and rapidly advancing scientific frontiers. The department of Applied Psychology is dedicated to provide students with high-quality and rigorous education in the classroom beyond. We have superb and vibrant BS Applied Psychology, M.Sc Applied Psychology & M.Phil programs. These programs offer training in the area of clinical Psychology, Counseling Psychology, Development  Psychology, Health Psychology, Experimental Psychology, Organizational Psychology,  and Social Psychology. In all of these areas, the central objective is to provide training and experience necessary for students to become not only skilled and dedicated researchers, but also effective communicators of the knowledge and findings on which the science of Applied Psychology rests.
            </p>
            <h3 class="title">Programs Offered</h3>
            <ul>
                <li>BS Applied Psychology (4 Years Program)</li>
                <li>M.Sc Applied Psychology (2 Years Program)</li>
                <li>M.Phil Applied Psychology</li>
                <li>MS Clinical Psychology (2 Years Program)</li>
                <li>Diploma in Clinical Psychology (16 Months)</li>
            </ul>
            <h3 class="title">Faculty Members</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Academic qualification</th>
                            <th>Area of Interest</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ms. Yusra Masud	</td>
                            <td>Chairperson	</td>
                            <td>M.Sc, M.Phil	</td>
                            <td>Psychological Assesment, Behavior Neuroscience, Clinical Psychology, Qualitative Research</td>
                        </tr>
                        <tr>
                            <td>Dr. Afsheen Gul	</td>
                            <td>Associate Prof.	</td>
                            <td>M.Sc, Ph.D	</td>
                            <td>Health Psychology, Research Methods, Clinical Psychology</td>
                        </tr>
                        <tr>
                            <td>Ms. Mehreen Zahra	</td>
                            <td>Lecturer</td>
                            <td>M.Sc, MS	</td>
                            <td>Abnormal Psychology, Health Psychology</td>
                        </tr>
                        <tr>
                            <td>Ms. Uzma Ilyas</td>
                            <td>Lecturer</td>
                            <td>M.Sc, MS	</td>
                            <td>Clinical Psychology, Research Methods</td>
                        </tr>
                        <tr>
                            <td>Ms. Saira Maqsood</td>
                            <td>Lecturer</td>
                            <td>M.Sc, M.Phil	</td>
                            <td>Clinical Psychology, Counseling Psychology, Social Psychology</td>
                        </tr>
                        <tr>
                            <td>Ms. Maira Amin</td>
                            <td>Lecturer</td>
                            <td>M.Sc</td>
                            <td>Experimental Psychology</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--//jobs-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            <section class="widget has-divider">
                <h3 class="title">Why Lahore Garrison University</h3>
                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                <a class="btn btn-theme" href="#">Find out more</a>
            </section><!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

