@{
    ViewBag.Title = "LGUCompuses";
}


<div class="page-content">
    <div class="row page-row">
        <article class="welcome col-md-8 col-sm-7">
            <h3 class="title">Main Campus</h3>
            <div id="promo-slider" class="slider flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-1.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Join Lahore Garrison University</span>
                            <br />
                            <span class="secondary clearfix">Choose from over 100 of courses</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-2.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Come to our Open Days</span>
                            <br />
                            <span class="secondary clearfix">Join Lahore Garrison University for bright future</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-3.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Discover online courses</span>
                            <br />
                            <span class="secondary clearfix">Online courses will also offer in future</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-4.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Best University</span>
                            <br />
                            <span class="secondary clearfix">Best University in this area</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-5.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Students Devotions</span>
                            <br />
                            <span class="secondary clearfix">Students are devoted to their studies</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-6.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">On primisis Facilities</span>
                            <br />
                            <span class="secondary clearfix">Many Facilities including Wifi, cafe are available with campus</span>
                        </p>
                    </li>
                    <li>
                        <img src="~/Content/FrontEnd/images/slides/slide-7.jpg" alt="" />
                        <p class="flex-caption">
                            <span class="main">Good Study Level</span>
                            <br />
                            <span class="secondary clearfix">Highly Qualified and trained Faculty</span>
                        </p>
                    </li>
                </ul>
                <!--//slides-->
            </div><!--//flexslider-->
            <p>
                Sector C, DHA Phase-VI

                Lahore

                Email: info@lgu.edu.pk Ph: 042-37181821-22

                Admission Office: 042-37181823
            </p>
        </article>
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Jobs.cshtml")
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

<div class="page-content">
    <div class="row page-row">
        <article class="welcome col-md-8 col-sm-7">
            <h3 class="title">Jinnah Campus (For Boys)</h3>
            <p><img class="img-responsive" src="~/Content/FrontEnd/images/slides/slide-6.jpg" alt=""></p>
            <p>
                52 Tufail Road, Lahore Cantt.

                Email: gpgcw@yahoo.com Ph: 042-99220697
            </p>
        </article>
    </div><!--//page-row-->
</div><!--//page-content-->

<div class="page-content">
    <div class="row page-row">
        <article class="welcome col-md-8 col-sm-7">
            <h3 class="title">Jinnah Campus (For Girls)</h3>
            <p><img class="img-responsive" src="~/Content/FrontEnd/images/750x300-about.jpg" alt=""></p>
            <p>
                52 Tufail Road, Lahore Cantt.

                Email: gpgcw@yahoo.com Ph: 042-99220697
            </p>
        </article>
    </div><!--//page-row-->
</div><!--//page-content-->
