@{
    ViewBag.Title = "Addmissions - Eligibility Criteria";
}

    <h3 class="heading-title clearfix">Undergraduate</h3>
    <div class="page-content">
    <div class="row page-row">
        <div class="faq-wrapper col-md-8 col-sm-7">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">
                                BASIC SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <b>B.Sc.: 2 years Program</b> (Venue: Jinnah Campus)<br />

                            Eligibility: F.A / F.Sc. (Pre-Engg , Pre-Med)<br />

                            <b>BS:</b> Applied psychology, Microbiology, Botany, Zoology, Biochemistry and Biotechnology, Chemistry, Physics, Mathematics, Statistics.<br />

                            Eligibility:F.A / F.Sc. (Pre-Engg , Pre-Med)
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2">
                                SOCIAL SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>B.Sc.: 2 years Program</b> (Venue: Jinnah Campus)<br />

                            Eligibility: F.A / I.Com<br />

                            <b>BS:</b> Home Economics, Mass Communication, Geography<br />

                            Eligibility: F.A / F.Sc.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-3">
                                COMPUTER SCIENCE AND IT
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>BS:</b> Computer science<br />

                            Eligibility: F.Sc. Pre-Engg / ICS / A-Levels
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-4">
                                BUSINESS AND MANAGEMENT SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>B.COM IT: 2 Years Program</b><br />

                            Eligibility: F.A / F.Sc. / I.Com / A-Level<br />

                            <b>B.Com Hons:</b> Finance, Accounting, Banking, Marketing (4 Years Program)<br />

                            Eligibility: F.A / F.Sc. /  I.Com / A-Level<br />

                            *B.Com students with 14 years of education can get admission in 5th Semester.<br />

                            <b>BS:</b> Accounting and Finance, Banking and Finance, HRM, Economics<br />

                            Eligibility: F.A / F.Sc. / I.Com / A-Level<br />

                            <b>BBA Hons:</b> Marketing, Finance, Human Resource, Leadership & Management Studies, Supply Chain Management.<br />

                            Eligibility: F.A / F.Sc. /  I.Com / A-Level, LGU Entry Test / Interview.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->

            </div><!--//panel-group-->
        </div><!--//faq-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
            <!--//widget-->
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Testimonial.cshtml")
            @*<section class="widget has-divider">
                    <h3 class="title">Why College Green Online</h3>
                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                    <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
                </section>*@<!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->
<h3 class="heading-title clearfix">Postgraduate</h3>
<div class="page-content">
    <div class="row page-row">
        <div class="faq-wrapper col-md-8 col-sm-7">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed">
                                BASIC SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <b>M.Sc.:</b> Applied psychology, Microbiology, Botany, Zoology, Statistics, Mathematics, and Physics.<br />

                            Eligibility: B.Sc. in relevant subject<br />

                            <b>Diploma:</b> 16 months Program [Clinical Psychology (ADCP)]<br />

                            Eligibility: MS / BS Applied Psychology / Psychology
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2">
                                SOCIAL SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>M.A / M.Sc.:</b> Urdu, English, History, Mass Com, Education, International Relations, Political science.<br />

                            Eligibility: BA in relevant subject.
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-3">
                                COMPUTER SCIENCE AND IT
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>MCS:</b> Computer Science (2 Years Program)<br />

                            Eligibility: B.Sc. / 14 Years Education
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-4">
                                BUSINESS AND MANAGEMENT SCIENCES
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <b>M.Com IT:</b> 2 Years Program<br />

                            Eligibility: B.Com<br />

                            <b>MBA:</b>  Marketing, Finance, Human Resource, Leadership & Management Studies, Supply Chain Management.<br />

                            1.5 Years Programs<br />
                            2.5 Years Programs<br />
                            3.5 Years Programs<br />
                            Eligibility:<br />

                            For 1.5 Years = 16 Years Business Education<br />
                            For 2.5 Years = 16 Years Non Business Education<br />
                            For 3.5 Years = BA / B.Sc. / B.Com and LGU Entry Test / Interview<br />
                            <b>M.Sc.:</b> Economics (2 Years Program)<br />

                            Eligibility: BA / B.Sc. / B.Com OR Any other equivalent Qualification
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-5">
                                MS / M.Phil
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-5" class="panel-collapse collapse">
                        <div class="panel-body">
                            MS Business Administration*( Leadership, Mgt Studies)<br />
                            MS Clinical Psychology<br />
                            MS Computer Science<br />
                            M.Phil Applied Psychology<br />
                            M.Phil Physics<br />
                            M.Phil Analytical Chemistry<br />
                            M.Phil Mathematics<br />
                            M.Phil English<br />
                            M.Phil Urdu<br />
                            M.Phil Islamic Studies<br />
                            M.Phil Mass Com<br />
                            M.Phil Economics.<br />
                            Eligibility: MA / M.Sc. / 16 Years of Education
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->

            </div><!--//panel-group-->
        </div><!--//faq-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_Address.cshtml")
            @*<section class="widget has-divider">
                    <h3 class="title">Why College Green Online</h3>
                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                    <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download prospectus</a>
                </section>*@<!--//widget-->
        </aside>
    </div><!--//page-row-->
</div><!--//page-content-->

