@{
    ViewBag.Title = "Addmissions - Fee Structure";
}

    <div class="page-content">
        <div class="row">
            <!--//contact-form-->
            <aside class="page-sidebar  col-md-3 col-sm-4">
                <section class="widget has-divider">
                    <h3 class="title">Download Fee Structure</h3>
                    <p>Fee Structure include different Categories including student from Armed Forces and Civilians, and for different departments of Lahore Garrison University.</p>
                    <a class="btn btn-theme" href="@Url.Action("DownloadFeeSchedule", "Widgets")"><i class="fa fa-download"></i>Download now</a>
                </section><!--//widget-->
                <!--//widget-->
            </aside><!--//page-sidebar-->
        </div><!--//page-row-->
        <!--//page-row-->
    </div><!--//page-content-->