@{
    ViewBag.Title = "Scholarships";
}

<h2>Scholarships</h2>
<div class="details col-md-10 col-sm-9 col-xs-8">
    <h3 class="title"><a href="#">Scholarship</a></h3>
    <p>various scholarships are available in LGU.</p>
    <p><a class="btn btn-theme" href="@Url.Action("DownloadScholarship", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
</div>
<div class="details col-md-10 col-sm-9 col-xs-8">
    <h3 class="title"><a href="#">Scholarship Description</a></h3>
    <p><a class="btn btn-theme" href="@Url.Action("DownloadScholarshipDescription", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
</div>