<section class="widget">
    <h3 class="title">Contact</h3>
    <p>
        Sector C, DHA Phase-VI

        Lahore
    </p>
    <p class="tel"><i class="fa fa-phone"></i>Tel: 042-37181821-22</p>
    <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">info@lgu.edu.pk</a></p>
</section>