<section class="widget has-divider">
    <h3 class="title">Enquire about this course</h3>
    <p>
        LGU is running Undergraduate, Graduate, Masters, M. Phil and PhD programs in various disciplines.
    </p>
    <p class="tel">
        <i class="fa fa-phone"></i>Tel: <span class="skype_c2c_print_container notranslate">042-3718-1821(22)</span>
    </p>
    <p class="email">
        <i class="fa fa-envelope"></i>Email: <a href="#">info@lgu.edu.pk</a>
    </p>
</section>
