<section class="widget has-divider">
    <h3 class="title">Jobs at Lahore Garrison University</h3>
    <ul id="job-list-widget" class="job-list custom-list-style"></ul>
    <a class="btn btn-theme" href="@Url.Action("Jobs", "About")">Find out more</a>
</section>

<script type="text/javascript">
    //debugger;
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/FrontEnd/Widgets/GetJobs/",
        data: "{}",
        dataType: "json",
        success: function (data) {
            debugger;
            $.each(data, function(index, item) {
                debugger;
                $('#job-list-widget').append('<li>' +
                    '<i class="fa fa-caret-right"></i>' +
                    '<a href="@Url.Action("JobDetails", "About", new { id = string.Empty })/' + item.Id + '">' + item.Title + '</a></li>');
            });
        },
        error: function(xhr, err) {
            debugger;
            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
            alert("responseText: " + xhr.responseText);
        }
    });
</script>