
<div class="event-item"></div>


<script type="text/javascript">
    //debugger;
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/FrontEnd/Home/GetEvents/",
        data: "{}",
        dataType: "json",
        success: function (data) {
            //debugger;
            $.each(data, function(index, item) {
                //debugger;
                //now you can access properties using dot notation
                $('.event-item').append(
                    '<p class="date-label">' +
                    '<span class="month">' + GetMonth(new Date(parseInt(item.StartDate.substr(6)))) + '</span>' +
                    '<span class="date-number"> 0' + (new Date(parseInt(item.StartDate.substr(6)))).getDay() + '</span>' +
                    '</p><div class="details"><h2 class="title">' + item.Title + '</h2>' +
                    '<p class="time"><i class="fa fa-clock-o"></i>' + (new Date(parseInt(item.StartDate.substr(6)))).getHours() + 'am - '
                    + (new Date(parseInt(item.StartDate.substr(6)))).getHours() + 2 + ' pm </p>' +
                    '<p class="location"><i class="fa fa-map-marker"></i>' + item.Location + '</p>' +
                    '</div>');
            });
        },
        error: function(xhr, err) {
            debugger;
            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
            alert("responseText: " + xhr.responseText);
        }
    });

    function GetMonth(d) {
        //debugger;
        var month = new Array();
        month[0] = "JAN";
        month[1] = "FEB";
        month[2] = "MAR";
        month[3] = "APR";
        month[4] = "MAY";
        month[5] = "JUN";
        month[6] = "JUL";
        month[7] = "AUG";
        month[8] = "SEP";
        month[9] = "OOT";
        month[10] = "NOV";
        month[11] = "DEC";
        return month[d.getMonth()];
    }

    function GetDay(d) {
        //debugger;
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        return weekday[d.getDay()];
    }
</script>