
    <div class="col-md-4 news-item"></div>


<script type="text/javascript">
    //debugger;
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/FrontEnd/Home/GetNews/",
        data: "{}",
        dataType: "json",
        success: function (data) {
            debugger;
            $.each(data, function(index, item) {
                debugger;
                //now you can access properties using dot notation
                $('.news-item').append(
                    '<h2 class="title"><a href="@Url.Action("NewsDetails", "Home", new { id = string.Empty })' + item.Id+'">' + item.Title + '</a></h2><p>' +
                    item.Description+ '</p><a class="read-more" href="@Url.Action("NewsDetails", "Home", new { id = string.Empty })' + item.Id + 
                    '">Read more<i class="fa fa-chevron-right"></i></a><img class="thumb" src="' + item.MediaUrl + '" alt="" />');
            });
        },
        error: function(xhr, err) {
            debugger;
            alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
            alert("responseText: " + xhr.responseText);
        }
    });
</script>